@charset "utf-8";
/* 게시판 리스트 목록 */
.boardwrap{padding-top:100px; padding-bottom:100px; width:1140px; margin:0 auto;}
.boardwrap h1{width:100%; color:#333; font-size:30px; margin-bottom:20px;}
.boardtotal{width:100%; font-size:13px; color:#888;}
.sub_news,.sub_news th,.sub_news td{border:0}
.sub_news a{color:#383838;text-decoration:none}
.sub_news{width:1140px; margin:0 auto; border-bottom:1px solid #999;color:#666;font-size:12px;table-layout:fixed;}
.sub_news caption{display:none}
.sub_news th{padding:5px 0 6px;border-top:solid 1px #999;border-bottom:solid 1px #b2b2b2;background-color:#f1f1f4;color:#333;font-weight:bold;line-height:20px;vertical-align:top; text-align:center;}
.sub_news td{padding:8px 0 9px;border-bottom:solid 1px #d2d2d2;text-align:center;line-height:18px;}
.sub_news .date,.sub_news .hit{padding:0;font-family:Tahoma;font-size:11px;line-height:normal}
.sub_news .title{text-align:left; padding-left:15px; font-size:13px;}
.sub_news .title .pic,.sub_news .title .new{margin:0 0 2px;vertical-align:middle}
.sub_news .title a.comment{padding:0;background:none;color:#f00;font-size:12px;font-weight:bold}
.sub_news tr.reply .title a{padding-left:16px;}

#table_search {
	margin: 15px 0 10px 0;
	float: right;
}

#table_search .input_box {
	height: 30px;
	width: 200px;
	background-color: #fff;
	border: 1px solid #888;
	outline: none;
}

#table_search .btn{
	margin-left: 7px;
	font-size: 12px;
	width: 100px;
	height: 30px;
	border: 1px solid #555;
	color: #FFF;
	background: #555;
	outline: none;
	cursor :pointer;
	transition: background 0.5s;
}

#table_search .btn:hover{
	background:#888;
	border:1px solid #888;
}


#page_control {
	text-align: center;
	margin: 20px 0 0 0;
	margin-right: auto;
	margin-left: auto;
}

#page_control a {
	padding: 2px 5px;
	text-decoration: none;
	color: #333;
	margin: 0 5px;
	font-size:13px;
}

#page_control a:hover {
	font-weight: bold;
	color: #e84050;
}

.boardwrap tr:hover {
	background-color: #eee;
	cursor: pointer;
	cursor: hand;
}

/* //게시판 리스트 목록 */
/* 게시판 글쓰기, 수정 */
#boardwrite {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e9e9e9;
	margin-top: 40px;
	border-left: none;
	border-right: none;
	font-size:13px;
}

#boardwrite th {
	height: 20px;
	padding: 15px;
	text-align: center;
	color: #fff;
	background: #fff;
	font-weight: normal;
}

#boardwrite tr {
	border-bottom: 1px solid #e9e9e9;
}

#boardwrite tr:last-child {
	border-botoom: none;
}

#boardwrite td {
	text-align: center;
	padding: 10px 0;
	border-right: 1px solid #e9e9e9;
}

#boardwrite input {
	height: 25px;
	text-align: left;
	padding-left: 5px;
}

#boardwrite textarea {
	resize: none;
	width: 90%;
}

#boardwrite td.left {
	text-align: left;
}

#boardwrite th.ftno {
	width: 50px;
}

#boardwrite th.fttitle {
	width: 400px;
}

#boardwrite td.fttitle {
	border-right: none;
	padding-left: 10px;
	text-align: left;
}
#boardwrite td.ftwrite{background:#f5f8f9; width:100px;}

/*게시판 읽기*/
#bo_v_title {
	padding: 30px 0 0 0;
	font-size: 20px;
	color: #333;
}

#bo_v_info {
	padding: 0 0 10px;
	border-bottom: 1px solid #ddd
}

#bo_v_info h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

#bo_v_info strong {
	display: inline-block;
	margin: 0 15px 0 5px;
	font-weight: normal
}

#bo_v_date {
	
}

#bo_v_atc {
	min-height: 200px;
	height: auto !important;
	height: 200px;
	margin-top: 20px;
	font-size: 15px;
	color: #333;
}
/* 첨부파일 */
#bo_v_file {
	
}

#bo_v_file h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	margin-top: 20px;
}

#bo_v_file ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#bo_v_file li {
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	background: #f5f6fa
}

#bo_v_file a {
	display: inline-block;
	padding: 8px 0 7px;
	width: 100%;
	color: #000;
	word-wrap: break-word
}

#bo_v_can ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#bo_v_can li {
	padding: 0 10px;
	border-bottom: 1px solid #eee;
	background: #f5f6fa
	display: inline-block;
	padding: 8px 0 7px;
	width: 100%;
	color: #000;
	word-wrap: break-word;
	list-style: none;
}
#bo_v_can li input[type=password]{
	height:25px;
}

#bo_v_can li .btn{
	margin-left: 7px;
	font-size: 12px;
	width: 100px;
	height: 30px;
	border: 1px solid #e84050;
	color: #e84050;
	background: #fff;
	outline: none;
	text-align: center;
	cursor :pointer;
	transition: background 0.5s;
}
#bo_v_can li .btn:hover{
	background: #e84050;
	color:#fff;
}

/* 댓글 */
.comment{
	width:100% ;
	margin-top:80px;
}
.comment h1{
	font-size:20px;
}

.comment_more{
	overflow: hidden;
}
.comment_more .comment_more_text{
	float:left;
}
.comment .mainuser{
	color:#333;
	border-top:1px solid #ddd;
	padding-top:20px;
}
.comment textarea{
	width:100%;
	height:100px;
}
/*------------------*/

